@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #000320 0%, #000000 100%);
    background-attachment: fixed;
    color: white;
}